
<div class="container">
    <div class="row">
        <div class="col text-center mt-2">
            <img src="../img/Pas Foto Gustin Rheza Square.jpg" alt="Gustin Rheza Rheza" class="img-thumbnail rounded-circle" width="200px">
            <h1 class="display-4">Gustin Rheza</h1>
            <p class="lead">Student | Web Enthusiast</p>
        </div>
    </div>
</div>

